<a href="https://colab.research.google.com/github/PaulMercerAI/AML19/blob/master/IntroductoryNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!curl https://raw.githubusercontent.com/PaulMercerAI/AML19/master/data/20191111_Transactions.csv.xz -L | xzcat > transactions.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5697k  100 5697k    0     0  3134k      0  0:00:01  0:00:01 --:--:-- 3132k

In [3]:
!curl https://raw.githubusercontent.com/PaulMercerAI/AML19/master/data/20191111_Accounts.csv.xz -L | xzcat > accounts.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  303k  100  303k    0     0  1273k      0 --:--:-- --:--:-- --:--:-- 1273k

In [4]:
#!head transactions.csv
!pip install node2vec

Collecting node2vec
  Downloading https://files.pythonhosted.org/packages/55/61/8c4a162e5c7ee459e80874b146accaf05ed991308517fa1d5b0f6cb1df83/node2vec-0.3.1-py3-none-any.whl
Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (from node2vec) (3.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from node2vec) (1.17.3)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from node2vec) (0.14.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from node2vec) (4.28.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from node2vec) (2.4)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (1.3.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (1.8.4)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (1.12.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->node2vec) (4.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (2.21.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (1.10.4)
Requirement already satisfied: boto>=2.32 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (2.49.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (2019.9.11)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (0.9.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.4 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (1.13.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (0.2.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.4->boto3->smart-open>=1.2.1->gensim->node2vec) (2.6.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.4->boto3->smart-open>=1.2.1->gensim->node2vec) (0.15.2)
Installing collected packages: node2vec
Successfully installed node2vec-0.3.1

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
import node2vec

In [0]:
transactions = pd.read_csv('transactions.csv')
accounts = pd.read_csv('accounts.csv')

In [16]:
#transactions[transactions['is_suspx']==True].tail(10)
transactions.head(10)

   id             timestamp  ... alert_id alert_type
0   1  2017-01-01T00:00:00Z  ...  Unknown    Unknown
1   2  2017-01-01T00:00:00Z  ...        -          -
2   3  2017-01-01T00:00:00Z  ...  Unknown    Unknown
3   4  2017-01-01T00:00:00Z  ...        -          -
4   5  2017-01-01T00:00:00Z  ...  Unknown    Unknown
5   6  2017-01-01T00:00:00Z  ...        -          -
6   7  2017-01-01T00:00:00Z  ...        -          -
7   8  2017-01-01T00:00:00Z  ...        -          -
8   9  2017-01-01T00:00:00Z  ...        -          -
9  10  2017-01-01T00:00:00Z  ...  Unknown    Unknown

[10 rows x 8 columns]

In [17]:
accounts.head()

                                acct_id  ...  cust_birthdate
0  bdd640fb-0667-4ad1-9c80-317fa3b1799d  ...      1971-11-26
1  23b8c1e9-3924-46de-beb1-3b9046685257  ...      1954-01-27
2  bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9  ...      1965-04-02
3  972a8469-1641-4f82-8b9d-2434e465e150  ...      1958-11-06
4  17fc695a-07a0-4a6e-8822-e8f36c031199  ...      1976-03-21

[5 rows x 6 columns]

In [0]:
#fanout = transactions.groupby('src_acct').agg({'amount': np.mean, 'src_acct': np.size, 'rcv_acct': 'nunique'})
fanout = transactions.groupby('src_acct', 'recv_acct').agg({'amount': np.mean}).nlargest(10, )
fanin = transactions.groupby('rcv_acct').agg({'amount': np.mean, 'rcv_acct': np.size, 'src_acct': 'nunique'})

In [0]:
fanout['total'] = fanout['amount'] * fanout[]

In [0]:
print(fanin.head())
fanout.head()

                                          amount  rcv_acct  src_acct
rcv_acct
0034801d-a4f8-4cc3-b6ad-9d6e4f7bdd57  897.752500        20        12
00a2cb5b-0fb7-412b-8beb-1eb79862efc8  840.283617        47        15
01d61262-1637-4c52-a4f7-e95a2f1f6882  956.441646        79        50
0264b540-e0a0-4afb-9984-b8cd6c477997  887.082400        50        12
03a5f48f-2383-4522-9d54-af450a95e804  884.554667        45        22

                                           amount  src_acct  rcv_acct
src_acct
03a5f48f-2383-4522-9d54-af450a95e804   650.678148        54        45
0b5db882-4032-4d24-bf51-56dc9e3fc4a8  1031.592090        67        47
0b73ed81-ad81-4235-a655-3594fd5e76ae   999.110000        56        43
16160e05-7a25-4f35-b667-febde4020a98  1116.080000        52        40
17153d31-1675-41ae-8580-7e801a4ff9f3  1044.930000        49        36

In [0]:

g = pd.merge(transactions, fanout.set_index('src_acct'), on='src_acct', right_index=True)

In [0]:
transactions.groupby('src_acct')

In [0]:
field = 'alert_id'
transactions.groupby('src_acct').agg({field:'nunique'}).nlargest(11, columns=field)

                                      alert_id
src_acct
5c9c5809-d27d-4d3f-bbc4-0886de137a41         7
db749698-b608-40b4-9679-9e027312660c         6
4563fca4-383a-408f-bf78-a0255b2cd8e7         5
d9cb07a0-8405-4435-9d4c-b81348aa7a42         5
ea151653-ab77-4bbb-9a52-8fdcdf168f27         5
f447a08f-310f-4e24-97a8-a610cf115457         5
10b4ce98-b433-4d5d-9344-7b3f1e005c06         4
153ff9a5-d48d-4d8b-b602-939d97a8e9ea         4
21738e1e-c0a9-48ae-b507-1d719e1a156c         4
37ac348c-7dcd-4023-a679-070ac22c87c6         4
434792f2-854e-499c-8dfd-82584807c92d         4

In [0]:
txBySourceNode = transactions.groupby('src_acct')
txByTargetNode = transactions.groupby('rcv_acct')
inDegree = txBySourceNode.size()
outDegree = txByTargetNode.size()
inVolume = txBySourceNode['amount'].sum().rename(columns={0:''})
outVolume = txByTargetNode['amount'].sum().rename(columns={0:''})
dfs = [nodes, inDegree, outDegree, inVolume, outVolume]
colNames = {0: 'inDegree', 1:'outDegree', 2:'inVolume', 3:'outVolume'}


#create dataframe that is ordered by inVolume
#drop the first 18900 results 
#take each row and divide the inVolume by the max inVolume and ratio of Fraud to Non-Fraud
nodesEnriched = pd.concat(dfs, axis=1, join='inner').rename(columns=colNames)
nodesEnriched = nodesEnriched.sort_values(by=['inVolume'])
nodesEnriched.insert(loc=0, column="row", value=np.arange(len(nodesEnriched)))
nodesEnriched.drop(nodesEnriched[nodesEnriched['row']<18900].index, inplace = True)
nodesEnriched['inVolume'] = nodesEnriched['inVolume']/(70102.48*9.26)

#create dataframe that is ordered by inDegree
#drop the first 18900 results
#take each row and divide the inDegree by the max inDegree and ratio of Fraud to Non-Fraud
inTable = pd.concat(dfs, axis=1, join='inner').rename(columns=colNames)
inTable = inTable.sort_values(by=['inDegree'])
inTable.insert(loc=0, column='row', value=np.arange(len(inTable)))
inTable.drop(inTable[inTable['row']< 18900].index, inplace=True)
inTable['inDegree'] = inTable['inDegree']/(205*3.58)

#create dataframe that is ordered by outDegree
#drop the first 18900 results
#take each row and divide the outDegree by the max outDegree and ratio of Fraud to Non-Fraud
outTable = pd.concat(dfs, axis=1, join='inner').rename(columns=colNames)
outTable = outTable.sort_values(by=['outDegree'])
outTable.insert(loc=0, column='row', value=np.arange(len(outTable)))
outTable.drop(outTable[outTable['row']<18900].index, inplace = True)
outTable['outDegree'] = outTable['outDegree']/(171*2.5)


#find the standard deviation of the txBySourceNode
x=txBySourceNode.std(ddof=0)


#create dataframe that is ordered by outVolume
#drop the first 18900 results 
#take each row and divide different columns by there max values and there ratio of Fraud to Non-Fraud
volumeTable = pd.concat(dfs, axis=1, join='inner').rename(columns=colNames)
volumeTable = volumeTable.sort_values(by=['outVolume'])
volumeTable.insert(loc=0, column="row", value=np.arange(len(volumeTable)))
volumeTable.drop(volumeTable[volumeTable['row']< 18900].index, inplace = True)
volumeTable['inDegree'] = volumeTable['inDegree']/(205*3.58)
volumeTable['outDegree'] = volumeTable['outDegree']/(171*2.5)
volumeTable['inVolume'] = volumeTable['inVolume']/(70102.48*9.26)
volumeTable['outVolume'] = volumeTable['outVolume']/(50080.75*4.57) 

#create dataframe
#drop the first 18900 results
#take each row and divide different columns by there max values and there ratio of Fraud to Non-Fraud
#order the dataframe by the sum of the new values for inDegree, outDegree, inVolume and outVolume
addedTable = pd.concat(dfs, axis=1, join='inner').rename(columns=colNames)
addedTable.insert(loc=0,column='row', value=np.arange(len(addedTable)))
addedTable.drop(addedTable[addedTable['row']< 18900].index, inplace = True)
addedTable['inDegree'] = addedTable['inDegree']/(205*3.58)
addedTable['outDegree'] = addedTable['outDegree']/(171*2.5)
addedTable['inVolume'] = addedTable['inVolume']/(70102.48*9.26)
addedTable['outVolume'] = addedTable['outVolume']/(50080.75*4.57)
addedTable['sum'] = addedTable['inDegree'] + addedTable['outDegree'] + addedTable['inVolume'] + addedTable['outVolume']
addedTable = addedTable.sort_values(by=['sum'])

NameError: ignored

In [0]:

addedTable.tail()
addedTable.describe()

In [0]:
#create a scatterplot of inVolume against outVolume
ax1 = nodesEnriched.plot.scatter(x='inVolume', y='outVolume', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against inVolume 
#where the row number has been ordered in size of inVolume
ax2 = nodesEnriched.plot.scatter(x='row', y='inVolume', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against inDegree 
#where the row number has been ordered in size of inDegree
ax3 = inTable.plot.scatter(x='row', y='inDegree', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against outDegree 
#where the row number has been ordered in size of outDegree
ax4 = outTable.plot.scatter(x='row', y='outDegree', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against outVolume 
#where the row number has been ordered in size of outVolume
ax5 = volumeTable.plot.scatter(x='row', y='outVolume', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against sum of the columns 
#where the row number has been ordered in size of the sum
ax6 = addedTable.plot.scatter(x='row', y='sum', c='isFraud', colormap='viridis')

In [0]:
#create scatterplot of row number against sum of the columns 
#where the row number has been ordered in size of the sum
sns.lmplot("row", "sum", data=addedTable, hue="isFraud")

In [0]:
sns.set(rc={'figure.figsize':(30.6,15.9)})

In [0]:
#create scatterplot of row number against sum of the columns 
#where the row number has been ordered in size of the sum
sns.scatterplot("row", "sum", data=addedTable, hue="isFraud", size_order=["T1","T2"])